@page "/module/{moduleId:long}/{taskId:long}"

@using System.Text.Json.Nodes
@using System.Text.Json
@using System.Reflection

@using RabinKit.App.Components.Dialogs
@using RabinKit.BlockLib.Kit
@using RabinKit.Core.Entities
@using Microsoft.EntityFrameworkCore

@inject IDbContext DbContext
@inject NavigationManager Navigation
@inject IDialogService DialogService

@* @inject IDbContext DbContext *@
@* @inject IDialogService DialogService
@inject ISnackbar Snackbar  *@

<SectionContent SectionId="@Layout.MainLayout.TopbarSection">
    <h3 class="text-center" Style="width: 100%;">@_task.Name</h3>
    @if (_student != null)
    {
        <MudText Align="Align.Right" Typo="Typo.h5" Style="display: inline-block;">
            @($"{_student.Name} {_student.Group} {_student.Year}")
        </MudText>

    }
</SectionContent>
<MudGrid>
    <MudItem xs="12" class="d-flex align-items-center justify-between">
        <div class="d-flex">
            <MudButton OnClick="@GoBack" Color="Color.Inherit">Назад</MudButton>
            <MudButton Class="ml-2" Edge="Edge.Start" Color="Color.Inherit" OnClick="@SaveAsync">
                Сохранить
            </MudButton>
            <MudButton Variant="Variant.Filled" Class="ml-2" Edge="Edge.Start" Color="Color.Primary" OnClick="@RunAsync">
                Запустить
            </MudButton>
        </div>
        <span class="mx-auto d-block text-center text-lg font-weight-bold font-size-2rem">
            Время решения: @GetFormattedElapsedTime()
        </span>
        <MudButton Class="ml-2" Edge="Edge.Start" Color="Color.Inherit" OnClick="@ViewParam">
            Переменные
        </MudButton>
        <MudButton Class="ml-2" Edge="Edge.Start" Color="Color.Inherit" OnClick="@ViewCode">
            Код
        </MudButton>
        <MudButton Class="ml-2" Edge="Edge.Start" Color="Color.Inherit" OnClick="@ViewDescription">
            Описание
        </MudButton>
    </MudItem>
</MudGrid>
<KitCanvas @ref="_kitCanvas" Playground="@_task.Playground" ToolBox="@_task.Toolbox" Parameters="@_task.Input.Concat(_task.Output)"></KitCanvas>


@code {
    private TaskComponent _task = default!;
    private TaskStatusR _status = default;
    private KitCanvas _kitCanvas = default!;
    public JsonObject Toolbox;
    public string[] Input;
    public string[] Output;
    private Student? _student;

    [Parameter] public long TaskId { get; set; }
    [Parameter] public long moduleId { get; set; }

    private TimeSpan elapsedTime;
    private CancellationTokenSource cancellationTokenSource;
    private bool _isFirstDescriptionOpen = false;

    /// <inheritdoc />
    protected override async Task OnInitializedAsync()
    {
        _student = await DbContext.Students.FirstOrDefaultAsync();
        _status = await DbContext.TaskStatus.FirstOrDefaultAsync(x => x.TaskId == TaskId);
        _task = await DbContext.TaskComponents
            .Include(x => x.Values)
            .Include(x => x.Attempts)
            .Include(x => x.StatusR)
            .FirstOrDefaultAsync(x => x.Id == TaskId);

        if (_status.SolutionTime != null)
        {
            elapsedTime = _status.SolutionTime;
        }
        else
        {
            elapsedTime = TimeSpan.Zero;
        }
        StartTimer();
    }
    /// <inheritdoc />
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && _task.Playground is null) //TODO remove && _task.Playground is null !!!
        {
            _isFirstDescriptionOpen = true;
            await ViewDescription();

        }
    }

    private async Task ViewParam()
    {
        await ShowDialogAsync("param");
    }

    private async Task ViewCode()
    {
        await ShowDialogAsync("code");
    }

    private async Task ViewDescription()
    {
        await ShowDialogAsync("description");
    }

    private async Task SaveAsync()
    {
        _task.Playground = await _kitCanvas.SaveAsync();
        await DbContext.SaveChangesAsync();
        // Snackbar.Add("Сохранено", Severity.Success);
    }

    private async Task RunAsync()
    {
        //  
        await SaveAsync();
        await ShowDialogAsync("task");
        //await RunDialog<TaskRunnerDialog>();
        //  StartTimer();
    }

    private async Task ShowDialogAsync(string type)
    {
        switch (type)
        {
            case "description":
                IDialogReference dialog = await DialogService.ShowAsync<DescriptionDialog>(
                    null,
                    new DialogParameters
                        {
                { nameof(DescriptionDialog.TaskC), _task },
                        },
                    new DialogOptions
                        {
                            MaxWidth = MaxWidth.Medium,
                            FullWidth = true,
                            CloseButton = true,
                        });

                if (_isFirstDescriptionOpen)
                {
                    var dialogResult = await dialog.Result;
                    if (dialogResult.Canceled)
                    {
                        _isFirstDescriptionOpen = false;
                    }
                }
                break;

            case "task":
                await DialogService.ShowAsync<TaskRunnerDialog>(
                    _task.Name,
                    new DialogParameters
                            {
                { nameof(TaskRunnerDialog.TaskC), _task },
                { nameof(TaskRunnerDialog.Code), await _kitCanvas.GenerateAsync() }
                            },
                    new DialogOptions
                        {
                            MaxWidth = MaxWidth.Small,
                            FullWidth = true,
                            CloseButton = true,
                        });
                break;

            case "code":
                await DialogService.ShowAsync<CodeDialog>(
                    _task.Name,
                    new DialogParameters
                        {
                { nameof(TaskRunnerDialog.TaskC), _task },
                { nameof(TaskRunnerDialog.Code), await _kitCanvas.GenerateAsync() }
                        },
                    new DialogOptions
                        {
                            MaxWidth = MaxWidth.Small,
                            FullWidth = true,
                            CloseButton = true,
                        });
                break;

            case "param":
                await DialogService.ShowAsync<ParamDialog>(
                    _task.Name,
                    new DialogParameters
                            {
                { nameof(TaskRunnerDialog.TaskC), _task },
                            },
                    new DialogOptions
                        {
                            MaxWidth = MaxWidth.Small,
                            FullWidth = true,
                            CloseButton = true,
                        });
                break;

            default:
                break;
        }

    }

    public async Task<JsonObject> LoadJsonAsync(string filePath)
    {
        using (FileStream stream = File.OpenRead(filePath))
        {
            JsonObject toolbox = await JsonSerializer.DeserializeAsync<JsonObject>(stream);
            return toolbox;
        }
    }

    private void StartTimer()
    {
        cancellationTokenSource = new CancellationTokenSource();
        Task.Run(async () =>
        {
            while (!cancellationTokenSource.Token.IsCancellationRequested)
            {
                if (!_isFirstDescriptionOpen)
                {
                    await Task.Delay(1000); // Обновление каждую секунду
                    elapsedTime = elapsedTime.Add(TimeSpan.FromSeconds(1));

                    if (_status.IsPassed == true) // Условие остановки
                    {
                        StopTimer();
                        break;
                    }
                    _status.SolutionTime = elapsedTime;
                    await DbContext.SaveChangesAsync();

                    // Обновление UI
                    InvokeAsync(StateHasChanged);
                 }
            }
        });
    }

    private string GetFormattedElapsedTime()
    {
        try
        {
            // Проверяем, что elapsedTime корректно инициализирован
            if (elapsedTime != null)
            {
                return elapsedTime.ToString(@"hh\:mm\:ss");
            }
            else
            {
                return "00:00:00"; // Возвращаем значение по умолчанию, если elapsedTime не инициализирован
            }
        }
        catch (FormatException ex)
        {
            // Логирование ошибки или обработка
            Console.WriteLine($"Ошибка форматирования времени: {ex.Message}");
            return "00:00:00"; // Возвращаем значение по умолчанию в случае ошибки
        }
    }

    private void StopTimer()
    {
        if (cancellationTokenSource != null && !cancellationTokenSource.IsCancellationRequested)
        {
            cancellationTokenSource.Cancel();
            cancellationTokenSource.Dispose(); // Освобождаем ресурсы
        }
    }

    private void GoBack()
    {
        StopTimer();
        Navigation.NavigateTo($"/module/{moduleId}");
    }

    public void Dispose()
    {
        StopTimer();
    }
    ///заметки <summary>
    /// 1) Сделать ключи преподавателя на каждый год отдельные для допуска на задания по таймеру
    /// 2) Доступ к графику после решения параграфа
    /// 3) Выбор графика для параграфа (1\2\3.1\3.2\3.3) -> ввод таблицы данных -> просмотр результата
    /// 4) График на котором можно показать все 3 графика одновременно.
    /// 5) Сделать отдельный набор тулсов с готовыми функциями, их исп-е во время тестов будет отнимать быллы из max.
    /// 6) Сделать автосейвы каждые 15 мин и вкладку в таблице для автосейвов.
    /// </summary>
}
